.top-header{
  height: 55px;
  width: 100vw;
  background-color: #FBD01D;
  line-height: 55px;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.top-title{
  padding-left: 50px;
  font-size: 25px;
  font-family: 'Lora', serif;
  text-decoration: none;
  color: #111;
}

.right-lists {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  font-family: 'Noto Sans JP', sans-serif; 
}

.right-lists li{
  padding-right: 55px;
}

.user-nickname{
  text-decoration: none;
  color: #111;
}

.logout{
  text-decoration: none;
  color: #111;
}

.pair-nickname{
  text-decoration: none;
  color: #111;
}

.login{
  text-decoration: none;
  color: #111;
}

.sign-up{
  text-decoration: none;
  color: #111;
}