.top-header{
  height: 55px;
  width: 100vw;
  background-color: #FBD01D;
  line-height: 55px;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.top-title{
  padding-left: 50px;
  font-size: 25px;
  font-family: 'Lora', serif;
  text-decoration: none;
  color: #111;
}

.right-lists {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  font-family: 'Noto Sans JP', sans-serif; 
}

.right-lists li{
  margin-right: 55px;
}

.user-nickname{
  text-decoration: none;
  color: #111;
}

.pair-name-position{
  position: relative;
}

.hidden{
  text-align: center;
  line-height: 45px;
  width: 100px;
  position: absolute;
  right: 70px;
  top: 55px;
  background-color: #fff;
  border: 2px solid #FAD26A;
  display: none;
}

.unfollow-link{
  color: #111;
  text-decoration: none;
}

.logout{
  text-decoration: none;
  color: #111;
}

.pair-nickname{
  text-decoration: none;
  color: #111;
}

.login{
  text-decoration: none;
  color: #111;
}

.sign-up{
  text-decoration: none;
  color: #111;
}