<div class="footer-page">
  <div class="footer-contents">
    <div class="footer-content"><%= link_to "利用規約", "#", class:"footer-link" %></div>
    <div class="footer-content"><%= link_to "プライバシーポリシー", "#", class:"footer-link" %></div>
    <div class="footer-content"><%= link_to "お問い合わせ", "#", class:"footer-link" %></div>
  </div>
  <div class="footer-title">
    <div class="footer-c">
      ©︎
    </div>
    <div class="footer-year">
      2022  -
    </div>
    <div class="footer-logo">
      Share Wallet
    </div>
  </div>
</div>