.logout-top{
  height: calc(100vh - 55px);
}

.top-sentence{
  display: flex;
  justify-content: space-around;
}

.top-sentence-right{  
  display: flex;
  justify-content: flex-end;
}

.top-sentence-right-icon{
  height: 200px;
}


.icon{
  height: 220px;
}

.top-sentence-center{
  display: flex;
  margin-top: 170px;
}

.title-in-sentence{
  font-family: 'Lora', serif;
}

.center-sentence{
  font-size: 60px;
}

.sub-sentence{
  text-align: center;
}

.bottom-icon{
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}

.main-page{
  display: flex;
  font-family: 'Noto Sans JP', sans-serif; 
  background-color: #F7F6EB;
  height: calc(100vh - 55px);
}

.page-left{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-part{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  padding: 5px, 20px;
  margin: 20px;
  border-radius: 30px;
  width: 45vw;
}

.result-icon{
  height: 25vh;
  padding-right: 40px;
}


.page-right{
  display: flex;
  justify-content: center;
  width: 50vw;
}

.payment-info{
  width: 40vw;
}


.left-content{
  width: 20vw;
  padding-left: 30px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  font-size: 17px;
}

.page-left-bottom{
  display: flex;
  justify-content: space-between;
  width: 45vw;
}

.input-link{
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  width:21vw;
  padding-top: 20px;
}


.link-icon{
  height: 25vh;
}

.calculate-and-find-link{
  width:21vw;
  border-radius: 30px;
  background-color: #fff;
}

.calculate-link{
    text-align: center;
    padding-top: 20px;
}

.link-text{
  color: #111;
}

.follow-form{
  height: 25vh;
  padding-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.select-form{
  width: 18vw;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.follow-btn{
  width: 18vw;
  height: 40px;
  text-align: center;
}

.right-content{
  width: 15vw;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.contents{
  display: flex;
  justify-content: space-around;
  border: 2px groove #F7CA79;
  margin-top: 10px;
  height: 80px;
}

.content-date{
  text-align: center;
}

.content-pay{
  text-align: center;
}

.page-right-title{
  text-align: center;
  padding-top: 20px;
}

.right-content-icon{
  margin-top: 1vh;
  padding-right: 3vh;
  height: 25px;
}

.lists{
  height: 75px;
  width: 100px;
  text-align: center;
  border:1px solid #F7CA79;
  background-color: #fff;
  display: none;
}


.detail-text{
  color: #111;
  text-decoration: none;
}


.right-content-text{
  color: #111;
}

