.top-sentence{
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.top-sentence-right{  
  display: flex;
  justify-content: flex-end;
}

.top-sentence-right-icon{
  height: 200px;
}


.icon{
  height: 220px;
}

.top-sentence-center{
  display: flex;
  margin-top: 150px;
}

.title-in-sentence{
  font-family: 'Lora', serif;
}

.center-sentence{
  font-size: 60px;
  padding-top: 25px;
}

.sub-sentence{
  text-align: center;
}

.bottom-icon{
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
}

.main-page{
  display: flex;
  font-family: 'Noto Sans JP', sans-serif; 
  background-color: #F7F6EB;
  height: 100vh;
}

.page-left{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-part{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  padding: 5px, 20px;
  margin: 20px;
  border-radius: 30px;
  width: 45vw;
}

.result-icon{
  height: 25vh;
  padding-right: 40px;
}

.page-left-bottom{
  display: flex;

}

.page-right{
  display: flex;
  justify-content: center;
  width: 50vw;
}

.payment-info{
  width: 45vw;
}

.contents{
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
  border: 2px groove #F7CA79;
  margin-top: 10px;
}

.left-content{
  width: 20vw;
  padding-left: 30px;
}

.input-link{
  text-align: center;
}

.link-icon{
  height: 25vh;
}

.calculate-link{
  text-align: center;
}

.right-content{
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-right-title{
  text-align: center;
  padding-top: 20px;
}

.right-content-icon{
  margin-top: 1vh;
  padding-right: 3vh;
  height: 25px;
}

.right-content-text{
  color: #111;
}

