.new-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  font-family: 'Noto Sans JP', sans-serif; 
}

.new-main-page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 60vw;
  border-bottom: 2px solid #EEE2C2;
  font-size: 20px;
}

