<p>精算結果出力ページです</p>

<div class="result">
  <p>精算結果は<%= @pay_user.nickname %>が <%= @receive_user.nickname %> に <%= @result %>円支払う必要があります </p>
</div>

<%= link_to "トップページへ" , root_path, class:"back-btn" %>