<%= render "shared/header" %>

<div class="edit-main-page">
  <div class="edit-content">
    <div class="edit-title">
      <p>編集ページ</p>
    </div>

    <%= render partial: "form", locals: { payment: @payment }%>
  </div>
</div>