<%= render "shared/header" %>

<div class="new-main-page">
  <div class="new-content">
    <div class="new-title">
      <p>新規入力ページ</p>
    </div>

    <%= render partial: "form", locals: { payment: @payment }%>
  </div>
</div>